 <footer clase="secction">
    <div class="contenedor contenedor-footer ">
      <!--<nav class="navegacion ">-->
        <!-- Propiedad target = "_blank " -->
      <!--  <a href="Nosotros.html">Nosotros</a>-->
      <!--  <a href="Anuncios.html">Anuncios</a>-->

      <!--  <a href="Anuncios.html">Anuncios</a>-->
      <!--  <a href="Blog.html">Blog</a>-->
      <!--  <a href="Contacto.html">Contacto</a>-->
      <!--</nav>-->

      <p class="copyright">Todos los derechos reservados &copy; 2007 - <%= new Date().getFullYear(); %></p>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/9a735a6809.js" crossorigin="anonymous"></script>